<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs z-depth-1" style="margin-top: 20px;">
                        <li class="tab col s4"><a class="active" href="#pacientes">Pacientes</a></li>
                        <li class="tab col s4"><a href="#ambulancias">Ambulancias</a></li>
                        <li class="tab col s4"><a href="#moderadores">Moderadores</a></li>
                    </ul>
                </div>
                <div id="pacientes" class="col s12">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-content">
                            <span class="card-title" style="text-align: center">Zona de pacientes</span>
                            <div class="row">
                                <div style="margin-top: 15px" class="col s12">
                                    <a routerLink="login-pacientes"
                                        class="waves-effect waves-light m-btn btn-large indigo darken-4">Iniciar
                                        sesión</a>
                                </div>
                                <div style="margin-top: 15px;" class="col s12">
                                    <a routerLink="registro-pacientes"
                                        class="waves-effect waves-light m-btn btn-large indigo darken-4">Registrarse</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="ambulancias" class="col s12">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-content">
                            <span class="card-title" style="text-align: center">Zona de ambulancias</span>
                            <div class="row">
                                <div style="margin-top: 15px" class="col s12">
                                    <a routerLink="login"
                                        class="waves-effect waves-light m-btn btn-large indigo darken-4">Iniciar
                                        sesión</a>
                                </div>
                                <div style="margin-top: 15px;" class="col s12">
                                    <a routerLink="registro"
                                        class="waves-effect waves-light m-btn btn-large indigo darken-4">Registrarse</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="moderadores" class="col s12">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-content">
                            <span class="card-title" style="text-align: center">Zona de moderadores</span>
                            <div class="row">
                                <div style="margin-top: 15px" class="col s12">
                                    <a routerLink="login-moderador"
                                        class="waves-effect waves-light m-btn btn-large indigo darken-4">Iniciar
                                        sesión</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>